# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Backend
FinBackend/bin/
FinBackend/obj/
FinBackend/obj/Debug/
FinBackend/appsettings.json
appsettings.Development.json

# Frontend
node_modules/
dist/
.vscode/

# conf
FinDaily/.env
FinDaily/.env.local
FinDaily/.env.production

# conf
.env



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.fake